.MainContent-Header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.MainContent-Header-Link a{
  color: gray;
  padding-right: 1rem;
}

.MainContent-Header-Link:hover {
  cursor: pointer;
}

.MainContent-Container {
  background: #eaeaea;
  margin-left: 300px;
  padding: 1rem;
}
.Content {
  background: white;
  padding: 5em 10rem 2em 10rem;
}
