.Header {
  height: 70px;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  background: white;
  /* margin-bottom: 70px; */
}

.Header-LogoContainer {
  width: 300px;
}

.Header-Logo {
  width: 100%;
  height: auto;
}

